RewriteEngine on

RewriteRule ^en/?$ /en/crockers-rules [R]
RewriteRule ^fr/?$ /fr/regles-de-crocker [R]

RewriteRule ^en/crockers-rules$ /pages/en.html [L]
RewriteRule ^fr/regles-de-crocker$ /pages/fr.html [L]

# http://stackoverflow.com/a/1270281/4506790
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
