@max-width: 500px;
@spacing: 10px;
@golden-number: 1.618;

// ---
// Document
// ---

html {
  min-width: 100%;
  box-sizing: border-box;
  max-width: @max-width;
  font-family: "Source Sans Pro", "Open Sans", Ubuntu, "Segoe UI", "Helvetica Neue", sans-serif;
  color: DarkSlateGray;
  background-color: HoneyDew;
  font-size: 16px;
  line-height: 1.5;
}

body {
  max-width: @max-width;
  margin: auto;
  padding: @spacing;
  position: relative;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// ---
// HTML elements
// ---

h1,
h2 {
  text-align: center;
}

a {
  color: RoyalBlue;
}

a:hover,
a:active {
  text-shadow: 0 0 4px Lavender;
}

a:visited {
  color: DarkSlateBlue;
}

label {
  display: block;
  text-align: center;
}

button {
  cursor: pointer;
}

// ---
// Site specific
// ---

.lang-links {
  position: absolute;
  top: @spacing / 2;
  right: @spacing / 2;
}

// ---
// Show/Hide full text
// ---

.control-complete-shown,
.rules-complete,
.control-hide-complete {
  display: none;
}

.control-complete-shown:checked ~ .rules-complete,
.control-complete-shown:checked ~ .control-hide-complete {
  display: block;
}

.control-complete-shown:checked ~ .rules-extract,
.control-complete-shown:checked ~ .control-show-complete {
  display: none;
}
