html {
  min-width: 100%;
  box-sizing: border-box;
  max-width: 560px;
  font-family: "Source Sans Pro", "Open Sans", Ubuntu, "Dejavu Sans", "Segoe UI", "Helvetica Neue", sans-serif;
  color: #2f4f4f;
  background-color: #fffff0;
  font-size: 16px;
  line-height: 1.5;
}
body {
  max-width: 560px;
  margin: 0 auto 10px;
  padding: 10px;
  position: relative;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,
h2 {
  text-align: center;
  text-shadow: 0 0 2px Gainsboro;
}
a {
  color: RoyalBlue;
}
a:hover,
a:active {
  text-shadow: 0 0 4px Lavender;
}
a:visited {
  color: DarkSlateBlue;
}
label {
  display: block;
  text-align: center;
}
button {
  cursor: pointer;
}
ul {
  list-style-type: none;
}
li {
  margin: 20px 0;
}
pre {
  overflow: auto;
  padding: 5px 10px;
  border: 1px solid Silver;
  background-color: Snow;
  font-family: monospace, monospace;
  font-size: small;
  page-break-inside: avoid;
}
footer {
  margin-top: 30px;
  font-size: small;
  text-align: center;
}
footer a {
  margin: 0 5px;
}
.lang-links {
  position: absolute;
  top: 5px;
  right: 5px;
}
.styled-btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #2f4f4f;
  color: #2f4f4f;
  background-color: Snow;
  font-size: 13px;
}
.styled-btn:hover,
.styled-btn:active {
  color: Snow;
  background-color: #2f4f4f;
}
.positive li,
.negative li {
  position: relative;
  padding-left: 30px;
}
.positive li:before,
.negative li:before {
  position: absolute;
  top: 0;
  left: -30px;
  font-size: 51.776px;
  text-shadow: -1px 0 2px #778899;
}
.positive li:before {
  content: '✓';
  color: #228b22;
}
.negative li:before {
  content: '✗';
  color: #b22222;
}
.social-links {
  text-align: center;
}
.social-links a {
  margin: 0 5px;
}
.control-complete-shown,
.rules-complete,
.control-hide-complete {
  display: none;
}
.control-complete-shown:checked ~ .rules-complete,
.control-complete-shown:checked ~ .control-hide-complete {
  display: block;
}
.control-complete-shown:checked ~ .rules-extract,
.control-complete-shown:checked ~ .control-show-complete {
  display: none;
}
