html {
  min-width: 100%;
  box-sizing: border-box;
  max-width: 500px;
  font-family: "Source Sans Pro", "Open Sans", Ubuntu, "Segoe UI", "Helvetica Neue", sans-serif;
  color: DarkSlateGray;
  background-color: HoneyDew;
  font-size: 16px;
  line-height: 1.4;
}
body {
  max-width: 500px;
  margin: auto;
  padding: 10px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,
h2 {
  text-align: center;
}
a {
  color: RoyalBlue;
}
a:hover,
a:active {
  text-shadow: 0 0 4px Lavender;
}
a:visited {
  color: DarkSlateBlue;
}
