@max-width: 560px;
@spacing: 10px;
@radius-small: 2px;
@font-size-base: 17px;
@line-height-base: 1.6;
@golden-number: 1.618;

@color-text: DarkSlateGray;
@color-bg: Ivory;
@color-red: FireBrick;
@color-green: ForestGreen;

// ---
// Document
// ---

@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  min-width: 100%;
  box-sizing: border-box;
  max-width: @max-width;
  font-family: Ubuntu, "Dejavu Sans", "Segoe UI", "Helvetica Neue", sans-serif;
  color: @color-text;
  background-color: @color-bg;
  font-size: @font-size-base;
  line-height: @line-height-base;

  @media (min-width: 768px) {
    font-family: "Open Sans", sans-serif;
  }
}

body {
  max-width: @max-width;
  margin: 0 auto @spacing;
  padding: @spacing;
  position: relative;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// ---
// HTML elements
// ---

h1,
h2 {
  text-align: center;
  text-shadow: 0 0 2px Gainsboro;
}

a {
  color: RoyalBlue;
}

a:hover,
a:active {
  text-shadow: 0 0 4px Lavender;
}

a:visited {
  color: DarkSlateBlue;
}

label {
  display: block;
  text-align: center;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: (@spacing * 2) 0;
}

pre {
  // https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/normalize.css
  overflow: auto;
  padding: (@spacing / 2) @spacing;
  border: 1px solid Silver;
  background-color: Snow;
  font-family: monospace, monospace;
  font-size: small;
  page-break-inside: avoid;
}

footer {
  margin-top: @spacing * 3;
  font-size: small;
  line-height: @line-height-base * @line-height-base;
  text-align: center;

  a {
    margin: @spacing;
  }
}

// ---
// Site specific
// ---

.lang-links {
  position: absolute;
  top: @spacing / 2;
  right: @spacing / 2;
}

.styled-btn {
  cursor: pointer;
  padding: @spacing;
  border-radius: @radius-small;
  border: 1px solid @color-text;
  color: @color-text;
  background-color: Snow;
  font-size: @font-size-base - 3;

  &:hover,
  &:active {
    color: Snow;
    background-color: @color-text;
  }
}

.positive li,
.negative li {
  &:before {
    padding: (@spacing / 2) @spacing 0 0;
    float: left;
    font-size: @font-size-base * @golden-number * 2;
    line-height: @font-size-base * @golden-number * 2 - @spacing;
    text-shadow: -1px 0 2px LightSlateGray;
  }
}

.positive li:before {
  content: '✓';
  color: @color-green;
}

.negative li:before {
  content: '✗';
  color: @color-red;
}

.social-links {
  text-align: center;

  a {
    margin: 0 (@spacing / 2);
  }
}

// ---
// Show/Hide full text
// ---

.control-complete-shown,
.rules-complete,
.control-hide-complete {
  display: none;
}

.control-complete-shown:checked ~ .rules-complete,
.control-complete-shown:checked ~ .control-hide-complete {
  display: block;
}

.control-complete-shown:checked ~ .rules-extract,
.control-complete-shown:checked ~ .control-show-complete {
  display: none;
}
