html {
  min-width: 100%;
  box-sizing: border-box;
  max-width: 500px;
  font-family: "Source Sans Pro", "Open Sans", Ubuntu, "Dejavu Sans", "Segoe UI", "Helvetica Neue", sans-serif;
  color: #2f4f4f;
  background-color: #fffff0;
  font-size: 17px;
  line-height: 1.5;
}
body {
  max-width: 500px;
  margin: auto;
  padding: 10px;
  position: relative;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,
h2 {
  text-align: center;
}
a {
  color: RoyalBlue;
}
a:hover,
a:active {
  text-shadow: 0 0 4px Lavender;
}
a:visited {
  color: DarkSlateBlue;
}
label {
  display: block;
  text-align: center;
}
button {
  cursor: pointer;
}
.lang-links {
  position: absolute;
  top: 5px;
  right: 5px;
}
.styled-btn {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid #2f4f4f;
  color: #2f4f4f;
  background-color: Snow;
}
.styled-btn:hover,
.styled-btn:active {
  color: Snow;
  background-color: #2f4f4f;
}
.control-complete-shown,
.rules-complete,
.control-hide-complete {
  display: none;
}
.control-complete-shown:checked ~ .rules-complete,
.control-complete-shown:checked ~ .control-hide-complete {
  display: block;
}
.control-complete-shown:checked ~ .rules-extract,
.control-complete-shown:checked ~ .control-show-complete {
  display: none;
}
